
RL/Approach/
RL/learning_data/
RL/Pullout/
RL/Regrasp/
RL/Place/
RL/Insert/
RL/RL_algo/__pycache__/
RL/utils/__pycache__/
RL/Domain_randomization/__pycache__/
RL/Approach_td3/
RL/__pycache__/
RL/utils/kinematics/pycache__/
wandb/
__pycache__/
*.log
*.pt
*.pth
*.pyc
*.ckpt
*.h5
*.npy
*.npz
*.csv
*.json
*.zip
*.tar.gz
*.egg-info/
Image_IL/__pycache__/
Image_IL/Approach/
Image_IL/Pullout/
Image_IL/Regrasp/
Image_IL/Place/
Image_IL/Insert/
learning_data/